@import "bootstrap/bootstrap";
@import "Ginkgo";

$mainColor: #270089; //主要-紫色
$mainBlack: #3c3a39; // 深黑色
$mainOrange: #F08500; // 主要-橘色
$textGray: #3C3A39; // 灰色字

* {
  &, &:after, &:before {
    vertical-align: middle;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

html {
  font-size: 16px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  font-size: medium;
  text-align: center;

  // font-family:"custom-sans-serif";
  font-family:"Roboto", "Noto Sans TC", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  
  // 文字染色，背景色、文字色
  @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
}

a {
  cursor: pointer;
  text-decoration: none !important;

  &:after,
  &:before {
    vertical-align: middle !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

button, select{
  outline: none !important;
  box-shadow: none !important;
  border-width: 0;
}

p {
  margin-bottom: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

// 手機版關閉
.mobile-close {
  @include range-width(0, 770px) {
    display: none !important;
  }
}

.mobile-close-m {
  @include range-width(0, 990px) {
    display: none !important;
  }
}

.mobile-close-sm {
  @include range-width(0, 440px) {
    display: none !important;
  }
}


// 手機版打開
.mobile-open {
  display: none !important;
  @include range-width(0, 770px) {
    display: inline-block !important;
  }
}

.mobile-open-m {
  display: none !important;
  @include range-width(0, 990px) {
    display: inline-block !important;
  }
}

.mobile-open-sm {
  display: none !important;
  @include range-width(0, 440px) {
    display: inline-block !important;
  }
}



// input
.login-input {
  border: 1px solid black !important;

  &::placeholder {
    color:#ACACAC !important;
    font-weight: 300 !important;
  }
}



// 背景色、文字色、link、線條
.text-orange {color: $mainOrange;}
.text-purple {color: $mainColor !important;}
.text-white {color:white !important;}

.borderB-purple {
  border-bottom: 2px solid $mainColor;
}

.border-dotted {
  border-bottom: 2px dotted #a7a7a7;
}

.bg-linear-orange {
  background: linear-gradient(to bottom,  #ffffff 80%, #fffaf6 100%) !important; 
}

.bg-bell {
  @include media-breakpoint-down(lg) {
    padding: 5px;
    background-color: $mainOrange
  }
}

.bg-member {
  background-color: #f8f8f8;
}

.bg-white {
  background-color: white !important; 
}

.bg-mainBlack {
  background-color: $mainBlack;
}

.bg-mainColor {
  background-color: $mainColor;
}

.bg-mainColor-mobile {
  background-color: $mainColor;

  @include media-breakpoint-down(lg) {
    background-color: #f6f4ff;
  }
}

.btn-search {
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1f1f1;
  color: #B5B5B6;
  font-size: 1rem;
  @include border-radius(50px);

  @include media-breakpoint-down(md) {
    background-color: transparent;
    padding: 0;
    margin-top: -3px;
  }

  &:before {
    display: inline-block;
    font-family: 'icon';
    content: '\e903';
    color: $mainBlack;
    margin: 0 3px;

    @include media-breakpoint-down(md) {
      color: $mainColor;
      margin: 0;
    }
  } 
}

.footer-ul {
  list-style: none;
  text-align: left;
  padding-left: 0 !important;

  li {
    display: inline-block;
    width: 100%;

    a {
      display: inline-block;
      color: $textGray;
      font-size: 1rem;
      font-weight: 300;

      @include media-breakpoint-down(lg) {
        font-size: .9rem;
      }

      &:hover, &:active {
        color: $mainOrange !important;
      }
    }
  }
}

.footer-a {
  display: inline-block;
  color: $mainColor;
  font-weight: 500;
  font-size: 1.125rem;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }

  &:hover, &:active {
    color: $mainOrange;
  }
}

.footer-a-m {
  display: inline-block;
  color: #f1f1f1;
  font-size: .9rem;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:hover, &:active {
    color: $mainOrange;
  }

  &:after {
    display: inline-block;
    content: '|';
    color: #707070;
    margin: 0 9px 0 10px;

    &:hover, &:active {
      color: #707070;
    }
  }
}

.moreLink {
  display: inline-block;
  color: $mainColor;
  font-size: 1rem;

  &:after {
    display: inline-block;
    content: '\e900';
    font-family: "icon";
    color: $mainColor;
    margin-left: 3px;
    margin-top: -4px;
  }

  &:hover, &:active {
    color: $mainColor;
    text-decoration: underline !important;
  }
}

.countLink {
  display: inline-block;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  border: 1px solid #cbc3e3;
  @include border-radius(100px);
  padding: 2px 10px 0 10px;
  margin-bottom: 7px;

  &:after {
    display: inline-block;
    content: '\e900';
    font-family: "icon";
    color: $mainColor;
    margin-left: 3px;
    margin-top: -4px;
  }

  &:hover, &:active {
    color: white;
    border: 1px solid $mainColor;
    background-color: $mainColor;

    &:after {
      color: white;
    }
  }
}

.linktop-b, .linktop-p {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;

  &:hover, &:active {
    text-decoration: underline !important;
  }
}

.linktop-p {
  color: $mainColor;

  &:hover, &:active {
    color: $mainColor;
  }
}

.linktop-b {
  color: black;

  &:hover, &:active {
    color: black;
  }
}

.login-a {
  display: inline-block;
  color: $mainBlack;
  font-size: 1rem;
  margin-left: 10px;
  background-color: transparent;

  &:hover, &:active {
    color: $mainColor;
  }

  @include media-breakpoint-down(lg) {
    color: $mainColor;
  }
}

.mainNav-ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-bottom: 2%;
    padding-left: 0;

    &:last-child {
      border-bottom: 5px solid $mainColor;
    }
  }

  > li {
    padding-bottom: 15px;

    @include media-breakpoint-down(md) {
      font-size: .9rem;
      padding: 0 0.5rem 0.5rem 0.5rem;
    }

    &:last-child {
      padding-bottom: 0;

      @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-bottom: 10px;
      }
    }
    
    > a {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 1rem;
      font-weight: 300;
      font-size: 1rem;
      color: $mainColor !important;
      @include border-radius(100px);
      background-color: white;
      text-align: left;

      @include media-breakpoint-down(md) {
        display: inline-block;
        text-align: left;
        width: 100%;
        padding: 0.5rem .4rem;
        color: $mainColor !important;
        background-color: white;
        border: 1px solid $mainColor;
        font-size: .8rem;
        @include border-radius(0);
      }

      &:before {
        display: inline-block;
        content: "・";
        color: $mainColor;
        padding-right: 15px;

        @include media-breakpoint-down(md) {
          padding-right: 3px;
        }
      }

      &:after {
        display: inline-block;
        content: '\e900';
        font-family: "icon";
        color: $mainColor;
        padding-left: 15px;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &:hover ,&:active {
        color: white !important;
        background-color: $mainColor;

        @include media-breakpoint-down(md) {
          padding-right: 5px;
        }

        &:before {
          color: white;
        }

        &:after {
          color: white;
        }
      }

    }
  }
}

.navLink-m {
  display: inline-block;
  width: 100%;
  color: $mainBlack;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  font-size: .9rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    display: inline-block;
    content: 'ㄴ';
    color: #e0e0e0;
    padding-right: 5px;
  }

  &:hover, &:active {
    color: $mainColor;

    &:before {
      color: #e0e0e0;
    }
  }
}

.link-orange13 {
  display: inline-block;
  color: $mainOrange;
  font-size: .8rem;
  font-weight: 300;
  margin-left: 10px;

  &:hover, &:active {
    color: $mainOrange;
    text-decoration: underline !important;
  }
}

.btn-input-search {
  background-color: transparent;
  color: $mainColor !important;
  font-weight: 300;

  &:after {
    border-top: 0.3em solid $mainColor !important;
  }
}

.btn-input-noBorder {
  border-left: 1px solid $mainColor !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;

  &::placeholder {
    color: #b5b5b6;
    font-weight: 300;
  }
}

.btn-purple {
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: white;
  border: 1px solid $mainColor;
  background-color: $mainColor;
  font-size: 1.1rem;
  font-weight: 500;
  @include border-radius(5px);

  &:hover, &:active {
    background-color: rgba(39, 0, 137, .8);
  }
}

.btn-purple-line {
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: $mainColor;
  border: 1px solid $mainColor;
  background-color: white;
  @include border-radius(5px);
  background-color: white;
  font-size: 1.1rem;
  font-weight: 500;

  &:hover, &:active {
    color: white;
    background-color: $mainColor;
  }
}

.f18-link {
  display: inline-block;
  color: $mainColor;
  font-size: 1.1rem;
  font-weight: 300;

  &:hover, &:active {
    color: $mainColor;
    text-decoration: underline !important;
  }
}

.pageNav {
  list-style: none;
  padding-left: 0;
  text-align: left;

  > li {
    color: $mainBlack;
    font-size: 1.1rem;
    text-align: left;
    line-height: 45px;
    font-weight: 300;
    padding-left: 3rem;

    &.pageNav-sec {
      &:after {
        display: inline-block;
        content: '\f107';
        font-family: 'icon';
        float: right;
        color: $mainColor;
        padding: 0 15px;
      }

      &.active-sec {
        color: white;
        background-color: $mainColor;
        border-radius: 0 10px 10px 0;

        &:before {
          color: white;
        }

        &:after {
          content: '\f106';
          color: $mainOrange;
          padding: 0 15px;
        }
      }
    }

    > a {
      // display: inline-block;
      width: 90%;
      color: $mainBlack;

      &:hover, &:active {
        color: white;
      }
    }

    &:before {
      display: inline-block;
      content: "\f519";
      font-family: bootstrap-icons !important;
      color: $mainColor;
      // 0627 8px -> 4px 不會斷行，再依畫面判斷
      margin-right: 4px;
      
    }

    &:hover, &:active, &.active {
      cursor: pointer;
      color: white;
      background-color: $mainColor;
      border-radius: 0 10px 10px 0;

      &:before {
        color: white;
      }

      // 0627 hover 時 箭頭顏色調整為橘色
      &:after {
        color: $mainOrange; 
      }

      > a {
        color: white;
      }
    }
  }

  .pageNav-sec-box {
    // 0627 預設為隱藏
    display: none;

    > a {
      display: block;
      width: 100%;
      padding-left: 3rem;
      line-height: 45px;
      color: $mainBlack;
      font-weight: 300;
      text-align: left;
      font-size: .9rem;

      &:before {
        display: inline-block;
        content: 'ㄴ';
        color: #e0e0e0;
        padding-right: 5px;
      }

      &:hover, &:active, &.active-sec {
        color: $mainOrange;

        &:before {
          color: #e0e0e0;
        }
      }
    }
  }

}



// text
.text-bell {
  color: $mainOrange;
  font-size: 1rem;
  padding-right: 10px;
  transform:rotate(-22deg);

  @include media-breakpoint-down(lg) {
    padding-right: 0;
    color: white;
  }
}

.f13-gray {
  color: $gray-400;
  font-size: .8rem;
}

.f13-black {
  color: $mainBlack;
  font-size: .8rem;
}

.f16-lightgray {
  color: #B5B5B6;
  font-size: 1rem;
  font-weight: 300;
}

.f16-gray {
  color: $textGray;
  font-size: 1rem;
  font-weight: 300;
}

.f16-orange {
  color: $mainOrange;
  font-size: 1rem;
  font-weight: 300;
}

.f18-main {
  color: $mainColor;
  font-weight: 500;
  font-size: 1.5rem;
}

.f24-main {
  color: $mainColor;
  font-weight: 300;
  font-size: 1.125rem;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}



.f20-b-black {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.f26-b-black {
  color: black;
  font-weight: 500;
  font-size: 1.6rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.25rem;
  }
}

.f32-b-black {
  color: black;
  font-weight: 500;
  font-size: 2.2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.8rem;
  }
}

.f44-b-white {
  color: white;
  font-weight: 500;
  font-size: 2.8rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.8rem;
  }
}

.f16-b-main {
  color: $mainColor;
  font-weight: 500;
  font-size: 1rem;
}

.f18-b-main {
  color: $mainColor;
  font-weight: 500;
  font-size: 1.125rem;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}

.f32-b-main {
  color: $mainColor;
  font-weight: 500;
  font-size: 2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.6rem;
  }
}

.f26-main {
  color: $mainColor;
  font-weight: 300;
  font-size: 1.6rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.25rem;
  }
}

.f32-white {
  color: white;
  font-weight: 300;
  font-size: 2.2rem;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}

// member
.f42-ba {
  display: inline-block;
  color: $mainColor;
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 35px;

  @include media-breakpoint-down(lg) {
    font-size: 3rem;
  }

  &:before {
    display: inline-block;
    content: '現有紅利點數：';
    font-weight: 300;
    font-size: 1.1rem;
    color: $mainColor;
  }
  &:after {
    display: inline-block;
    content: '點';
    font-weight: 300;
    font-size: 1.1rem;
    color: $mainColor;
    vertical-align: baseline;
  }
}

.li-point {
  &:after {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    vertical-align: baseline;
  }
}

// 隱私條款使用
.f16-b-black {
  text-align: left;
  color: $mainBlack;
  font-weight: 500;
  font-size: 1rem;
}

.f16-black {
  text-align: left;
  color: $mainBlack;
  font-weight: 300;
  font-size: 1rem;

  > a {
    color: $mainOrange;

    &:hover, &:active {
      text-decoration: underline !important;
    }
  }
}
.square16-black {
  text-align: left;
  color: $mainBlack;
  font-weight: 300;
  font-size: 1rem;

  &:before {
    display: inline-block;
    content: '■';
    margin-right: 5px;
  }
}
.square16-b-black {
  text-align: left;
  color: $mainBlack;
  font-weight: 500;
  font-size: 1rem;

  &:before {
    display: inline-block;
    content: '■';
    margin-right: 5px;
  }
}
.line16-black {
  text-align: left;
  color: $mainBlack;
  font-weight: 300;
  font-size: 1rem;

  &:before {
    display: inline-block;
    color: #B5B5B6;
    content: '－';
    margin-right: 5px;
  }
}
.info-ul-num {
  list-style: decimal;
  padding-left: 18px;

  > li {
    font-size: 1rem;
    font-weight: 300;
    color: $mainBlack;
    text-align: left;
    margin-bottom: 15px;
    line-height: 25px;

    > ul {
      list-style: disc;
      li {
       &::marker {
        color:$mainColor;
       }
      }
    }

    > a {
      color: $mainOrange;

      &:hover, &:active {
        text-decoration: underline !important;
      }
    }
  }
}

.purple-change-black {
  font-size: 1.5rem;
  font-weight: 500;
  color: $mainColor;

  @include range-width(0, 440px) {
    font-size: 1.2rem;
    color: $mainBlack;
  }
}

.lh20 {
  line-height: 20px;
}

.lh25 {
  line-height: 25px;
}





// BOX
.box850 {
  display: inline-block;
  width: 100%;
  max-width: 850px;
}

.orangeBox {
  background-color: rgba(255, 243, 230, 1.00);
  @include border-radius(20px);
  padding: 25px;

  &.or-close {
    @include media-breakpoint-down(md) {
      background-color: transparent;
      border-top: 1px dotted #707070;
      @include border-radius(0);
      padding: 25px 0;
    }
  }
}

.bgBox {
  display: inline-block;
  width: 100%;
  background-image: url(../images/bgL.svg), url(../images/bgR.svg);
  background-repeat: no-repeat, no-repeat;
  background-position:top left, bottom right;

  @include media-breakpoint-down(md) {
    background-position: -29px -3%, 112% bottom;
    background-size: 50%, 50%;
  }
}

.imgBanner {
  max-width: 720px;

  &:nth-child(2n+2) {
    padding:0 5px;
  }
}

.navBox {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }

  &.boxNot-50 {
    @include media-breakpoint-down(md) {
      bottom: 12px;
    }
  }
}

.topNav {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(to bottom, #f8f8f8 50%, #ebebeb);
}

.fullBox {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-between(xl, xxl) {
    width: 90%;
  }
}

.mainBox {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

  @include media-breakpoint-down(lg) {
    width: 95%;
  }

  @include media-breakpoint-between(xl, xxl) {
    width: 90%;
  }
}

.footer-nav {
  display: inline-block;
  width: 100%;
  padding: 1.5rem;
  background: repeating-linear-gradient(135deg, #fafafa, #fafafa 1px, #f1f1f1 0, #f1f1f1 5px);
}

.whiteBox {
  display: inline-block;
  width: 100%;
  @include border-radius(40px);
  background-color: white;

  @include media-breakpoint-down(lg) {
    @include border-radius(20px);
  }
}

.welcomeBox {
  display: inline-block;
  width: 100%;
  background-color: #feebda;
  color: $mainOrange;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 15px;
  text-align: left;
}

.lightBox {
  display: inline-block;
  width: 100%;
  // max-width: 720px;
  margin: 0 auto;
  text-align: left;
}

.searchBox {
  display: inline-block;
  border: 1px solid $mainColor;
  @include border-radius(50px);
  padding: 3px 10px;
}



// boostrap
.tab-content {
  // position: absolute;
  // z-index: 1010;
}

.form-control {
  &:focus {
    box-shadow: unset !important;
  }
}

// .modal-dialog {
//   max-width: 900px !important;
// }
.modal-header {
  border-bottom: 0 !important;
}

.modal-content {
  border-radius: 1.3rem !important;
}

.offcanvas-start {
  border: 0 !important;
}

.nav-pills {
  .nav-link {
    font-size: 1.2rem;
    color: white;
    border-radius: 0 !important;

    @include media-breakpoint-down(lg) {
      color: $mainBlack;
      font-size: .9rem;
      padding: 0.5rem 0.5rem !important;
    }

    &.active {
      background-color: $mainOrange !important;

      @include media-breakpoint-down(lg) {
        background-color: $mainColor !important;
      }
    }
  }
}

.accordion-item {
  border-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-right: 0;
  border-left: 0;
}

.accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &.nav-m {
    color: $mainColor;

    &:not(.collapsed) {
      color: $mainOrange;
      background-color: #f8f8f8;
    }
  }
  
}



// other
.rounded-4 {
  @include border-radius(1rem);
  
}
.headerLogo {
  @include media-breakpoint-down(lg) {
    width: 180px;
  }
}

.border-r-b {
  border-right: 1.5px solid #eef0f2;

  @include media-breakpoint-down(md) {
    border-right: 0;
    border-bottom: 1.5px solid #eef0f2;
  }
}

// 個人/企業，開關切換 start
.change {
  font-size: .9rem;
  font-weight: 500;
  color: black;

  &::selection {
    background: transparent;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.change_label::selection {
  background: transparent;
}

.change_label-on {
  color: $mainColor;
}

.change input:checked ~ {
  .change_label-off {
    color: $mainColor;
  }

  .change_label-on {
    color: black;
  }
}

.change_slider {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #3C3A39;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2em;
  width: 3em;
  height: 1em;
  // top: 0.2em;
  margin: 0 0.3em;

  &:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    border: solid 0.1em #dcdcdc;
    top: 50%;
    transform: translateY(-50%);
  }
}

.change input:checked ~ .change_slider {
  background-color: #3C3A39;

  &:before {
    transform: translate(104%, -50%);
  }
}
// 個人/企業，開關切換 end


// 跑馬燈 start
.slick-slider {
  margin: 0 !important;
}

.marquee  {
  display: inline-block;
  width: 300px;

  @include media-breakpoint-down(lg) {
    width: 85%;
  }
}

.marquee-slide {
  width: 500px;
  margin-right: 20px;

  .inner {
    text-align: left;
    margin: 0 15px;
    color: black;
    font-size: 1rem;

    > a {
      overflow: hidden;
      text-overflow: ellipsis;
      // max-height: 50px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: $mainOrange;

      @include media-breakpoint-down(lg) {
        color: white;
      }

      &:hover, &:active {
        text-decoration: underline !important;
      }
    }
  }
}
// 跑馬燈 end

// search bar start 沒有用到
$tl: 0.6s; // transition length

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);

  &::placeholder {
    color: black;
  }

  & + label .search-icon {
    color: black
  }

  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);

    & + label .search-icon {
      color: white
    }
  }

  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 150px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;

    & + label .search-icon {
      color: black;
    }
  }

  &:not(:focus) {
  text-indent:-5000px;
  } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative;
  right: -5000px;
}
// search bar end 沒有用到

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

// 黃金大banner
.mySwiper {
  padding: 24px 0 !important;

  .swiper-slide {
    @include media-breakpoint-down(lg) {
      max-width: 90%;
      padding: 0 .5rem;
    }
  }
}

.swiper-pagination-bullets {
  &.swiper-pagination-horizontal {
    background-color: #f8f8f8;
  }
}

.swiper-pagination-bullet-active {
  background: $mainBlack !important;
}

// 合作店家
.swiper-wrapper {
  &.storeHeignt {
    height:630px;

    @include media-breakpoint-down(md) {
      height:435px;
    }
  }
}

.swiper {

  &.storeBoxs {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-slide {
  &.store {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-pagination2 {
  background-color: transparent !important;
}

.storeIconBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom,  #ffffff 0%,#fffaf6 100%); 
  @include border-radius(30px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 20px;

  @include media-breakpoint-down(md) {
    height: 200px;
  }

  > img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      max-width: 90px;
      margin-bottom: 10px;
    }
  }

  > p {
    font-size: 1.75rem;
    color: $mainColor;

    @include media-breakpoint-down(lg) {
      font-size: 1.1rem;
    }
  }
}

.mySwiper2-prev, .mySwiper2-next {
  top: 46% !important;

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.mySwiper2-prev {
  &:after {
    color: $mainBlack !important;
    content:'\F129' !important;
    font-family:'bootstrap-icons' !important;
  }
}

.mySwiper2-next {
  &:after {
    color: $mainBlack !important;
    content:'\F133' !important;
    font-family:'bootstrap-icons' !important;
  }
}





//之後刪掉
.redborder {
  border: 1px solid rgba(255, 0, 0, .3);
}